<p id="notice"><%= notice %></p>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');">
  <div class="container">
    <h1><strong><%= @cocktail.name %></strong></h1>
  </div>
</div>
<div class="coitainer">
  <br>
    <h5>Doses:</h5>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li> Ingredient: <%= dose.ingredient.name %> | Description: <%= dose.description %> | <%= link_to "Delete", dose_path(dose),
          method: :delete,
          data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  <p><%= link_to 'Back to list', cocktails_path %></p>
  <p><%= link_to 'Create a new dose', new_cocktail_dose_path(@cocktail) %></p>
</div>
